@model MvcDemo.Models.LobbyistViewModels

@{
    ViewBag.Title = "Edit Lobbyist #" + @Html.DisplayFor(m => m.Id);
    Layout = "~/Views/Lobby/_Layout.cshtml";
}


@{
    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);
}

@{
    var Message = "";
    if (IsPost) {
        Message = "This is from the postback";
    }
    else {
        Message = "This is without postback";
    }
}

<!-- panel body -->
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Type)
                @Html.ValidationMessageFor(model => model.Type)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsRegistered, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsRegistered)
                @Html.ValidationMessageFor(model => model.IsRegistered)
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-8  col-md-offset-2" style="padding-top: 6px; border-top: 1px solid lightcoral; ">
                <a class="btn btn-sm btn-default" onclick="location.href='@Url.Action("Index", "Lobby")'">Cancel</a>
                <a class="btn btn-sm btn-default" onclick="location.href='@Url.Action("Edit", "Lobby", new { id = @Model.Id })'">Refresh</a>
                <input type="submit" value="Save" class="btn btn-sm btn-primary" />
            </div>

        </div>


    </div>
}







@*<div class="Content">
    <h2>Edit Lobbyist #@Html.DisplayFor(m => m.Id)</h2>
    <div class="Wrapper">
        <div id="mainEdit" class="container-fluid mainedit scrollableView collapseFamilly">

            @using (Html.BeginForm()) {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>LobbyistViewModels</h4>
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Type, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Type)
                            @Html.ValidationMessageFor(model => model.Type)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.IsRegistered, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.IsRegistered)
                            @Html.ValidationMessageFor(model => model.IsRegistered)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>

</div>*@


