@model IEnumerable<MvcDemo.Models.LobbyistViewModels>

@{
    ViewBag.Title = "Index";
}


<div class="Content">
    <h2>Lobbyist</h2>
    <div class="Wrapper">
        <div id="mainEdit" class="container-fluid mainedit scrollableView collapseFamilly">

            <div class="row" style="margin-top: 15px;">
                <div class="col-md-6">
                    @Html.ActionLink("Create New", "Create")
                </div>

                @*<div class="col-md-6">
                    @using (Html.BeginForm("Index", "Producers", FormMethod.Get, new { @class = "form-horizontal" })) {
                        @Html.Hidden("dataRightId", UrlExtension.GetDataRightId())

                        <div class="form-group ">
                            <div class="col-md-12 pull-right">
                                <div class="input-group">
                                    @Html.TextBox("searchWord", null, new { @class = "form-control ", @placeholder = Strings.SearchByNameOrId })
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    }
                </div>*@
            </div>


            <div class="table-responsive" style="margin: 0 0;">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>                            
                            <th>Type</th>
                            <th>Registered</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model) {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Type)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsRegistered)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>




<hr />
Bootstrap grid<br />
<a class="btn btn-success" href="@Url.Action("Create", "Lobby")"><i class="fa fa-user-plus" aria-hidden="true"></i>Create New</a>
<br />
<div class="row" style="background-color:lightgray; font-size:large">
    <div class="col-md-3">Name</div>
    <div class="col-md-3">Type</div>
    <div class="col-md-2">Registered</div>
    <div class="col-md-4">Action</div>
</div>
@foreach (var item in Model) {
    <div class="row" style="padding:8px 8px; border-bottom: 2px dotted grey">
        <div class="col-md-3" title="@Html.DisplayFor(modelItem => item.Id)">@Html.DisplayFor(modelItem => item.Name)</div>
        <div class="col-md-3">@Html.DisplayFor(modelItem => item.Type)</div>
        <div class="col-md-2">@Html.DisplayFor(modelItem => item.IsRegistered)</div>

        <div class="col-md-4">
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </div>
    </div>
}







